/*body{
	width: 100vw;
	height: 100vh;
	background-color: black;
}*/

*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: Rubik;
	src: url(../fonts/Rubik-Regular.ttf);
}

.conteiner{
	width: 1180px;
	height: 100vh;
	background-color: white;
	margin: 0 auto;
}

.header{
	height: 40px;
	background-color: white;
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	display: flex;
	align-items: center;
}

.header_logo_img{
	margin-right: 11,88px;
}
.header_logo_p{
	color: #333; 
	font-size: 20px; 
	font-family: Rubik; 
	font-weight: 500;
}

.header_search{
	width: 320px;
	height:25px;
	border: none;
	border-bottom: 1px #333 solid;
	margin-right: 32px
}

.header-search::placeholder{
	color: #828282;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 400;
}

.header_search:focus{
	outline: none;
	color: #333333;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 500;
}

.header_search-btn{
	background:none;
	border:none; 
	color: #E5261E;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 500;
}

.header_login{
	height: 38px;
	width: 113px;
	border:none;
	border-radius: 4px;
	background-color: red;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-family: Rubik;
	font-weight: 500;
}

.header_login:hover{
	background: #CC221B;
}

.textTV{
	margin-top: 48px;
	display: flex;
	justify-content: center;
}

.text{
	color: #E5261E;
	font-size: 28px;
	font-family: Rubik;
	font-weight: 500;
	text-align: center;
	margin-bottom: 9px;
	border-bottom: 2px #E5261E solid;
	margin-right: 24px;
}

.TV{
	color: #333333;
	font-size: 28px;
	font-family: Rubik;
	font-weight: 500;
	word-wrap: break-word;
}

.now{
	margin-top: 32px;
	color: #333333;
	font-size: 24px;
	font-family: Rubik;
	font-weight: 500;
	margin-bottom: 16px;
}
.cat{
	border-radius: 4px;
	margin-bottom: 16px;
}

.mult{
	color: #333333;
	font-size: 20px;
	font-family: Rubik;
	font-weight: 400;
}