*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face{
    font-family: Montserrat-ExtraBold;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face{
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face{
    font-family: Montserrat-Light;
    src: url("../fonts/Montserrat-Light.ttf");
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.land{
    width: 1440px;
/* height: 7379px;*/
}
header{
    width: 1440px;
height: 72px;
background-color:  var(--grey-10, rgba(212, 205, 192, 0.10));
display: flex;
align-items: center;
}
.logo{
    color: #000;
font-family: Montserrat-Bold;
font-size: 20px;
font-style: normal;
margin-left: 158px;
}
.red-f{color:var(--milkc-100, #ECD4A3);}
.list1{
    width: 525px;
height: 15px;
display: flex;
justify-content: space-between;
list-style: none;
margin-left: 32px;
}
.el_list1{
    color: var(--gold-100, #B6943C);
font-family: Montserrat-Bold;
font-size: 14px;
}
.headr-btn{
    width: 130px;
height: 44px;
color: #FFF;
font-family: Montserrat-Bold;
font-size: 14px;
border: none;
border-radius: 8px;
background-color: #ECD4A3;
}
.header-form{
    width: 130px;
height: 44px;
margin-left: 359px;
}
.Hero{
    width: 1116px;
height: 700px;
margin-top: 231px;
margin-left: 164px;
}
h1{
    width: 486px;
height: 116px;
margin-top: 167px;
color: var(--beige-100, #CCBC9F);
font-family: Montserrat-ExtraBold;
font-size: 48px;
}
.h4-hero{
    width: 490px;
height: 62px;
margin-top: 32px;
color: var(--brown-100, #7D6C5B);
font-family: Montserrat-Medium;
font-size: 18px;
}
.images{
    width: 590px;
    margin-left: 569px;
    margin-top: -434px;
height: 700px;
}
.hero-btn{
    margin-left: 0px;
    margin-top: 12px;
}
.CTA{
    width: 1119px;
height: 1102px;
margin-top: -17px;
margin-left: 164px;
}
.CTA-h{
    width: 502px;
height: 48px;
color: var(--brown-100, #7D6C5B);
font-family: Montserrat-ExtraBold;
font-size: 40px;
margin-left: 309px;
}
.card{
    width: 352px;
    height: 476px;
}
.cakes2{
    width: 320px;
height: 310px;
border-radius: 32px;
}
.tab{
width: 320px;
height: 230px;
border-radius: 32px;
background-color: #FFF;
box-shadow: -5px 4px 4px 5px rgba(0, 0, 0, 0.25);
margin-top: -68px;
    margin-left: 32px;
}
.card-p{
    width: 151px;
height: 21px;
padding-top: 96px;
margin-left: 86px;
color: var(--brown-100, #7D6C5B);
font-family: Montserrat-Medium;
font-size: 18px;
}
.card-form{
    width: 114.492px;
height: 42.12px;
margin-left: 103px;
margin-top: 24px;
}
.card-btn{
    width: 114.492px;
height: 42.12px;
border-radius: 8px;
background: var(--milkc-100, #ECD4A3);
color: #FFF;
font-family: Montserrat-Bold;
font-size: 14px;
border: none;
}
.column{
    width: 352px;
    height: 990px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.table{
    width: 1119px;
height: 1038px;
margin-top: 64px;
display: flex;
justify-content: space-between;
}
.Feautures{
    width: 1120px;
height: 493px;
margin-top: 96px;
margin-left: 163px;
}
.Feautures-h{
    width: 278px;
height: 44px;
color: var(--brown-100, #7D6C5B);
font-family: Montserrat-ExtraBold;
font-size: 40px;
margin-left: 421px;
}
.comments{
width: 1120px;
height: 398px;
display: flex;
justify-content: space-between;
margin-top: 51px;
}
.comment{
    width: 352px;
height: 347px;
border-radius: 128px 32px 32px 32px;
background: rgba(255, 255, 255, 0.10);
box-shadow: -5px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.picture{
    margin-left: 132px;
    margin-top: 44px;
}
.comment-h4{
    width: 254px;
    height: 28px;
    font-family: Montserrat-Medium;
font-size: 18px;
color: var(--brown-100, #7D6C5B);
margin-top: 32px;
margin-left: 56px;
}
.comment-text{
    text-align: center;
    width: 288px;
    height: 78px;
    color: var(--brown-100, #7D6C5B);
    font-family: Montserrat-Light;
font-size: 16px;
margin-top: 32px;
margin-left: 32px;
}
.margin{
    margin-left: 68px;
}
.newmargin{
    margin-top: 51px;
}
.counters{
    width: 1120px;
height: 160px;
margin-top: 64px;
margin-left: 163px;
background: linear-gradient(31deg, rgba(182, 148, 60, 0.25) 18.52%, rgba(167, 140, 72, 0.16) 81.01%);
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 32px 128px 32px 32px;
}
.achive1{
    width: 91px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.achive2{
    width: 188px;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.achive3{
    width: 174px;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.number{
    color: var(--beige-100, #CCBC9F);
text-align: center;
font-family: Montserrat-ExtraBold;
font-size: 28px;
}
.achive-text{
    color: #000;
text-align: center;
font-family: Montserrat-Light;
font-size: 16px;
}
.CTA-photo{
    margin-top: 160px;
    width: 1440px;
height: 600px;
background: var(--grey-10, rgba(212, 205, 192, 0.10));
display: flex;
}

.img-form{
    margin-top: -64px;
    margin-left: 160px;
    width: 544px;
    height: 600px;
    border-radius: 32px 128px 32px 32px;
}
.CTA-photo-form{
    width: 511px;
height: 374.12px;
margin-left: 64px;
margin-top: 16px;
}
.h3-form{
    width: 386px;
height: 26px;
color: var(--brown-100, #7D6C5B);
text-align: center;
font-family: Montserrat-ExtraBold;
font-size: 28px;
}
.name{
    color: #000;
    width: 493px;
height: 54px;
border: 1px solid #000;
background: #FFF;
font-family: Montserrat-Light;
font-size: 14px;
padding-left: 16px;
margin-top: 72px;
}
.name::placeholder{
color: black;
font-family: Montserrat-Light;
font-size: 14px;
}
.file{
    opacity: 0;
    visibility: hidden;
    display: none;
}
.upload{
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-bottom: -4px;
}
.input{
    width: 509px;
height: 54px;
border: 1px solid #000;
background: #FFF;
display: flex;
align-items: center;
margin-top: 24px;
}
.upload-text{
    color: #000;
    font-family: Montserrat-Light;
    font-size: 14px;
    margin-left: 16px;
    padding-top: 18px;
}
.taste{
    margin-top: 24px;
    width: 511px;
height: 54px;
border: 1px solid #000;
background: #FFF;
color: #000;
    font-family: Montserrat-Light;
    font-size: 14px;
    padding-left: 16px;
    appearance: none;
    background: url(../img/arrow.png) 95% / 4% no-repeat #FFF;
}
.add-btn{
    margin-top: 24px;
}
.process{
    width: 1131px;
height: 410.15px;
margin-top: 96px;
margin-left: 154px;
}
.steps{
    width: 1132px;
    height: 308px;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.step{
    width: 256px;
height: 308.15px;
}
.process-h{
    width: 438px;
height: 38px;
color: var(--brown-100, #7D6C5B);
margin-left: 340px;
font-family: Montserrat-ExtraBold;
font-size: 28px;
}
.number1{
    margin-left: 62px;
    margin-top: -53px;
}
.text-place{
    width: 256px;
height: 260px;
border-radius: 32px;
opacity: 0.56;
background: linear-gradient(225deg, rgba(236, 212, 163, 0.75) 0%, rgba(236, 212, 163, 0.00) 100%);
margin-top: 49px;
}
.step-h4{
    width: 234.555px;
    height: 22.907px;
    color: #7D6C5B;
    text-align: center;
font-family: Montserrat-Medium;
font-size: 18px;
padding-top: 28px;
margin-left: 11px;
}
.step-text{
    width: 191px;
height: 128px;
color: var(--brown-100, #7D6C5B);
text-align: center;
font-family: Montserrat-Light;
font-size: 16px;
margin-top: 30px;
margin-left: 33px;
}
.feedback{
    width: 1120px;
height: 505px;
margin-top: 96px;
margin-left: 160px;
}
.feedbacks{
    height: 392px;
    width: 1120px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}
.content{
    width: 352px;
    height: 392px;
}
.h2-feedback{
    width: 754px;
height: 37px;
color: var(--brown-100, #7D6C5B);
text-align: center;
font-family: Montserrat-ExtraBold;
font-size: 40px;
margin-left: 207px;
}
.text-content{
    width: 352px;
    height: 343px;
    border-radius: 128px 32px 32px 32px;
box-shadow: -5px 4px 37px 5px rgba(0, 0, 0, 0.25);
}
.img-comment{
margin-top: 33px;
margin-left: 142px;
}
.text-olga{
    width: 283.5px;
height: 108px;
color: #000;
text-align: center;
font-family: Montserrat-Light;
font-size: 16px;
margin-top: 16px;
margin-left: 34px;
}
.stars-5{
    width: 192px;
    height: 32px;
margin-top: -9px;
margin-left: 80px;
}
.olga{
    width: 234.555px;
height: 22.907px;
color: #000;
text-align: center;
font-family: Montserrat-Medium;
font-size: 18px;
margin-top: 16px;
margin-left: 59px;
}
.avatar{
    width: 100px;
height: 100px;
margin-left: 129px;
margin-top: -55px;
}
.CTA-choose{
    width: 1122px;
height: 600px;
margin-top: 96px;
margin-left: 159px;
}
.CTA-h3{
    width: 486px;
    height: 83px;
    color: var(--brown-100, #7D6C5B);
font-family: Montserrat-ExtraBold;
font-size: 28px;
}
.CTA-h4{
    width: 327px;
    height: 28px;
    color: var(--brown-100, #7D6C5B);
font-family: Montserrat-Medium;
font-size: 18px;
margin-top: 32px;
}
.cta-img{
    height: 600px;
    margin-top: -143px;
    margin-left: 574px;
}
.cta-choose-form{
    margin-top: -408px;
    margin-left: 0px;
}
.blog{
    width: 1120px;
height: 619px;
margin-top: 96px;
margin-left: 160px;
}
.blog-h2{
    width: 279px;
height: 46px;
color: var(--brown-100, #7D6C5B);
text-align: center;
font-family: Montserrat-ExtraBold;
font-size: 40px;
margin-left: 422px;
}
.posts{
    height: 476px;
    width: 1120px;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}
.v2{
    width: 256px;
height: 88px;
text-align: center;
padding-top: 80;
margin-left: 32px;
}
.tab-blog{
    width: 320px;
height: 262px;
}
.blog-form{
    margin-top: 0px;
}
.contact-details{
    width: 1440px;
height: 600px;
background: var(--grey-10, rgba(212, 205, 192, 0.10));
margin-top: 160px;
}
.contact-h3{
    width: 304px;
height: 32px;
color: var(--brown-100, #7D6C5B);
font-family: Montserrat-ExtraBold;
font-size: 28px;
margin-left: 157px;
margin-top: 58px;
}
.p-contact{
    width: 404px;
    height: 80px;
    color: var(--brown-100, #7D6C5B);
font-family: Montserrat-Light;
font-size: 16px;
margin-top: 32px;
margin-left: 157px;
}
.margin-contact{
    margin-top: 32px;
}
.p-contactv2{
    width: 166px;
height: 78px;
}
.p-contactv3{
    width: 193px;
height: 26px;
}
.socweb{
    margin-top: 32px;
    margin-left: 157px;
    background-color: transparent;
}
.map{
    border-radius: 32px 128px 32px 32px;
    margin-bottom: -701px;
    margin-left: 924px;
}
.padding-contact{
    padding-top: 58px;
}
.frame15{
    width: 1120px;
height: 328px;
border-radius: 128px 32px 32px 32px;
background: var(--grey-75, rgba(212, 205, 192, 0.75));
margin-top: 96px;
margin-left: 160px;
display: flex;
justify-content: center;
align-items: center;
}
.frame-h{
    width: 222px;
    height: 31px;
    color: var(--brown-100, #7D6C5B);
font-family: Montserrat-ExtraBold;
font-size: 28px;
}
.frame-p{
    width: 360px;
    height: 51px;
    color: var(--brown-100, #7D6C5B);
text-align: center;
font-family: Montserrat-Light;
font-size: 16px;
}
.frame-btn{
margin-top: 0px;
margin-left: 0px;
}
.content2{
    height: 188px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer{
    height: 270px;
    width: 100%;
    background: var(--grey-10, rgba(212, 205, 192, 0.10));
    margin-top: 96px;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 1440px;
height: 270px;
display: flex;
align-items: center;
}
.group1{
    width: 256.178px;
height: 141px;
margin-left: 160px;
}
.group1-logo{
    margin-left: 0px;
}
.group1-p{
    width: 256.178px;
height: 66px;
color: var(--brown-100, #7D6C5B);
font-family: Montserrat-Light;
font-size: 14px;
margin-top: 23px;
}
.group2{
    width: 157.109px;
height: 141px;
margin-left: 130px;
}
.group-h{
    width: 157.109px;
    height: 15px;
    color: var(--brown-100, #7D6C5B);
    font-family: Montserrat-Bold;
    font-size: 14px;
}
.element-group{
    width: 157.109px;
    height: 15px;
    color: var(--brown-100, #7D6C5B);
font-family: Montserrat-Light;
font-size: 14px;
margin-top: 29px;
}
.margin-group{
    margin-top: 23px;
}
.socbew-footer{
margin-top: 26px;
margin-left: 5px;
}
.group-space{
    margin-left: 35px;
}
@media screen and (max-width: 390px) {
    .land{
        width: 389px;}
    header{
        width: 389px;
        height: 48px;}
    .logo{
        font-size: 13px;
    margin-left: 5px;
    }
    .list1{
        width: 203px;
    height: 6px;
    margin-left: 14px;
}
.el_list1{
font-size: 7px;
}
.headr-btn{
    width: 65px;
height: 25px;
font-size: 8px;
border-radius: 4px;
}
.header-form{
    width: 65px;
height: 25px;
margin-left: 17px;
}
.Hero{
    width: 389px;
height: 269px;
margin-top: 32px;
margin-left: 0px;
}
h1{
    width: 140px;
    height: 36px;
    margin-top: 92px;
    font-size: 13px;
}
.h4-hero{
    width: 193px;
    height: 22px;
    margin-top: 16px;
    font-size: 6px;
}
.hero-btn{
    margin-left: 0px;
    margin-top: 8px;
}
.images{
    width: 221px;
    margin-left: 166px;
    margin-top: -168px;
    height: 265px;
}
.CTA{
    width: 389px;
    height: 261px;
    margin-top: 32px;
    margin-left: 0px;
}
.CTA-h{
    width: 264px;
    height: 30px;
    font-size: 21px;
    margin-left: 78px;
}
.card{
    width: 214px;
    height: 250px;
}
.cakes2{
    width: 159px;
    height: 159px;
    border-radius: 32px;
}
.tab{
    width: 165px;
    height: 152px;
    margin-top: -68px;
    margin-left: 32px;
}
.card-p{
    width: 151px;
    height: 21px;
    padding-top: 74px;
    margin-left: 28px;
    font-size: 14px;
}
.card-form{
    width: 114.492px;
    height: 42.12px;
    margin-left: 31px;
    margin-top: 5px;
}
.card-btn{
    width: 112.492px;
    height: 40.12px;
    border-radius: 7px;
}
.column{
    width: 432px;
    height: 247px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table{
    width: 384px;
    height: 272px;
    margin-top: 8px;
    overflow:scroll;
}
.table::-webkit-scrollbar {
    width: 0;
  }
.Feautures{
    width: 389px;
    height: 290px;
    margin-top: 65px;
    margin-left: 0px;
}
.Feautures-h{
    width: 146px;
    height: 29px;
    font-size: 21px;
    margin-left: 115px;
}
.comments{
    width: 389px;
    height: 241px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.comment{
    width: 119px;
    height: 198px;
    border-radius: 64px 16px 16px 16px;
}
.picture{
    margin-left: 39px;
    margin-top: 11px;
    width: 55px;
}
.comment-h4{
    width: 115px;
    height: 14px;
    font-size: 8px;
    margin-top: 10px;
    margin-left: 3px;
}
.comment-text{
    width: 115px;
    height: 78px;
    font-size: 9px;
    margin-top: 11px;
    margin-left: 2px;
}
.margin{
    margin-left: 12px;
    width: 103px;
}
.newmargin{
    margin-top: 33px;
}
.counters{
    width: 384px;
    height: 160px;
    margin-top: 64px;
    margin-left: 1px;
    border-radius: 16px 94px 16px 16px;
}
.achive1{
    width: 70px;
    height: 51px;
}
.achive2{
    width: 120px;
    height: 53px;
}
.achive3{
    width: 111px;
    height: 53px;
}
.number{
font-size: 18px;
}
.achive-text{
font-size: 10px;
}
.CTA-photo{
    margin-top: 89px;
    width: 389px;
    height: 539px;
}

.img-form{
    margin-top: -64px;
    margin-left: 48px;
    width: 361px;
    height: 322px;
}
.CTA-photo-form{
    width: 390px;
    height: 261px;
    margin-left: -347px;
    margin-top: 276px;
}
.h3-form{
    width: 386px;
height: 26px;
font-size: 21px;
}
.name{
    width: 312px;
    height: 31px;
    font-size: 11px;
    padding-left: 16px;
    margin-top: 16px;
}
.name::placeholder{
font-size: 14px;
}
.upload{
    width: 18px;
    height: 18px;
    margin-left: 16px;
    margin-bottom: -5px;
}
.input{
    width: 328px;
    height: 33px;
    margin-top: 24px;
}
.upload-text{
    font-size: 11px;
    margin-left: 7px;
    padding-top: 7px;
}
.taste{
    margin-top: 24px;
    width: 331px;
    height: 38px;
    font-size: 12px;
    padding-left: 16px;
}
.add-btn{
    margin-top: 20px;
}
.process{
    width: 389px;
    height: 944.15px;
    margin-top: 32px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.steps{
    width: 201px;
    height: 940px;
    margin-top: 31px;
    flex-direction: column;
}
.step{
    width: 199px;
    height: 219.15px;
}
.process-h{
    width: 332px;
    height: 28px;
    margin-left: 28px;
    font-size: 21px;
}
.number1{
    margin-left: 60px;
    margin-top: -50px;
    width: 71px;
}
.text-place{
    width: 196px;
    height: 169px;
    margin-top: 47px;
}
.step-h4{
    width: 143.555px;
    height: 18.907px;
    font-size: 14px;
    padding-top: 22px;
    margin-left: 25px;
}
.step-text{
    width: 148px;
    height: 69px;
    font-size: 13px;
    margin-top: 19px;
    margin-left: 24px;
}
.feedback{
    width: 389px;
    height: 1143px;
    margin-top: 32px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedbacks{
    height: 1055px;
    width: 277px;
    margin-top: 38px;
    flex-direction: column;
}
.content{
    width: 275px;
    height: 965px;
}
.h2-feedback{
    width: 375px;
    height: 46px;
    font-size: 20px;
    margin-left: 3px;
}
.text-content{
    width: 273px;
    height: 265px;
    border-radius: 128px 32px 32px 32px;
}
.img-comment{
    margin-top: 12px;
    margin-left: 108px;
}
.text-olga{
    width: 199.5px;
    height: 63px;
    font-size: 11px;
    margin-top: 16px;
    margin-left: 44px;
}
.stars-5{
    width: 157px;
    height: 25px;
    margin-top: 8px;
    margin-left: 66px;
}
.olga{
    width: 163.555px;
    height: 20.907px;
    font-size: 16px;
    margin-top: 6px;
    margin-left: 64px;
}
.avatar{
    width: 80px;
    height: 80px;
    margin-left: 110px;
    margin-top: -38px;
}
.CTA-choose{
    width: 389px;
    height: 783px;
    margin-top: 32px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}
.CTA-h3{
    width: 389px;
    height: 48px;
    font-size: 19px;
    margin-top: 0px;
}
.CTA-h4{
    width: 222px;
    height: 24px;
    font-size: 14px;
    margin-top: 16px;
}
.cta-img{
    height: 390px;
    width: 389px;
    margin-top: 301px;
    margin-left: 0;
}
.cta-choose-form{
    margin-top: -673px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}
.blog{
    width: 389px;
    height: 910px;
    margin-top: 32px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-h2{
    width: 134px;
    height: 29px;
    font-size: 24px;
    margin-left: 0px;
}
.posts{
    height: 814px;
    width: 216px;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.v2{
    width: 151px;
    height: 21px;
    padding-top: 62px;
    margin-left: 10px;
    font-size: 12px;
}
.tab-blog{
    width: 167px;
height: 154px;
}
.blog-form{
    margin-left: 28px;
    margin-top: 23px;
}
.contact-details{
    width: 389px;
    height: 746px;
    margin-top: 96px;
}
.contact-h3{
    width: 304px;
    height: 32px;
    color: var(--brown-100, #7D6C5B);
    font-family: Montserrat-ExtraBold;
    font-size: 18px;
    margin-left: 0px;
    margin-top: 0px;
}
.p-contact{
    width: 281px;
    height: 37px;
    font-size: 11px;
    margin-top: 32px;
    margin-left: 2px;
}
.margin-contact{
    margin-top: 32px;
}
.p-contactv2{
    width: 99px;
height: 47px;
}
.p-contactv3{
    width: 135px;
height: 18px;
}
.socweb{
    margin-left: 5px;
}
.map{
    border-radius: 32px 64px 32px 32px;
    margin-bottom: -847px;
    margin-left: 1px;
    width: 239px;
}
.padding-contact{
    padding-top: 8px;
}
.frame15{
    width: 385px;
height: 328px;
border-radius: 32px 32px 32px 32px;
margin-top: 96px;
margin-left: 0px;
}
.frame-h{
    width: 195px;
    height: 31px;
font-size: 25px;
}
.frame-p{
    width: 316px;
    height: 51px;
font-size: 14px;
}
.frame-btn {
    margin-top: 0px;
    margin-left: 0px;
}
.card-btn {
    width: 104.492px;
    height: 37.12px;
    border-radius: 5px;
}
.frame-btn {
    margin-top: 0px;
    margin-left: 0px;
    width: 104px;
    height: 37px;
}
.group1-logo {
    margin-left: 75px;
    font-size: 16px;
}
.footer-content{
    width: 1440px;
height: 270px;
display: flex;
align-items: center;
width: 389px;
    height: 710px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
footer {
    height: 714px;
margin-top: 40px;}
.group1{
margin-left: 0px;
}
.group2{
margin-left: 0px;
}
.margin-group{
    margin-top: 23px;
}
.group-space{
    margin-left: 0px;
}
}